@font-face {
  font-family: 'Bebas Neue';
  src: url('./font/BebasNeue-Regular.otf'); /* IE9 Compat Modes */
}

body {
	padding-top: 90px;
	background-image: url('./imgp/pexels-scott-webb-174054.jpg'); 
	background-position:center; 
	background-attachment: fixed;
	background-repeat:no-repeat; 
	background-size: auto;
}

.logosignup {
	padding:12px 0px 3px 0px;
	margin-left:-64.6vw;
}	

.logosignup img{
	height:42px;
}

.hantechlogo img{
	margin-top:60px;
	width:700px;
}

.line {
	height:2px;
	border-width:0;
	color:gray;
	background-color:gray;
}

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
	color: #7BA9D1;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #7BA9D1;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #7BA9D1;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #7BA9D1;
}

.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #5786B0;
	border-color: #5786B0;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #7BA9D1;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #7BA9D1;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #5786B0;
	border-color: #5786B0;
}

.footerforlogin {
	position: relative;
	margin-top:200px;
	padding: 70px;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}

.termsofserviceforlogin {
	text-decoration: none;
	color:white;
}

.termsofserviceforlogin:hover {
	color:black;
	text-decoration:none;
}

@media screen and (max-width: 768px) {
	.hantechlogo img{
	margin-top:60px;
	margin-left:47px;
	width:400px;
	}

	.logosignup img{
	height:46px;
	position:absolute;
	top:-36px;
	left:-358px;
	}	

}
